*{
    padding: 0;
    margin: 0;
    font-style: none;
}

body {
    background-color: #218838;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}
form {
    display: none;
}
form.active {
    display: block;
}
input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}
button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #218838;
}